p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.alert p:last-child {
  margin-bottom: 0;
}

.inline-figure {
  border: none;
}

footer {
  display: none;
}

figcaption {
  margin-bottom: 10px;
}

details {
  border: 1px solid #ccc;
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 4px;
  margin-bottom: 10px;
}

details > p {
  margin-top: 1rem;
}

.figtext {
  text-wrap: nowrap;
  border-radius: 0.2rem;
  color: #212529;
  background-color: #eee;
  /* font-size: 87.5%; */
  padding: .125rem .40rem;
  /* font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace; */
}

code {
  border-radius: 0.2rem;
  color: #212529;
  background-color: #eee;
}

.figref {
  font-weight: bold;
  color: red;
}
